body {
    background: linear-gradient(to right, #700f0f, #d82e2e);
    display: flex;
    justify-content: center;
    align-items: center;
}.container {
    background: white;
    border: 2px solid black;
    width: 500px;
    height: 370px;
    border-radius: 25px;
    justify-self: center;
    padding: 25px;
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: 75px 35px;
    grid-auto-rows: auto;
    row-gap: 10px;
    transform: translateY(12vh);
}h1{
    font-family: fantasy;
    font-weight: 300;
    text-align: -webkit-center;
    grid-column: span 2;
}.container_senha {
    height: 50px;
    width: 200px;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, 
        linear-gradient(to right, #700f0f, #d82e2e) border-box;
    border-radius: 10px;
    grid-row: 2 / 3;
    align-content: center;
}.sub_senha {
    font-family: system-ui;
    margin-bottom: 5px;
    font-weight: 800;
    grid-row: 1 / 2;
}.container_escolhas {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-column: 2 / 3;
    margin-bottom: 15px;
}label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 140px;
    display: flex;
}input {
    transform: scale(2);
}.check {
  height: 25px;
  width: 25px;
  border: 2px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, #700f0f, #d82e2e) border-box;
  border-radius: 5px;
  color: black;
  margin-right: 5px;
  cursor: pointer;
}.check.ativo {
  background:
    linear-gradient(to right, #700f0f, #d82e2e) padding-box,
    linear-gradient(to right, #700f0f, #d82e2e) border-box;
  color: white;
}input.range {
    transform: none;
}.caracteres {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 120px;
    grid-template-rows: 27px;
    column-gap: 10px;
    grid-row: 2/3;
}p.caracteres {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: 15px;
    grid-column: span 2;
    grid-row: 1/2;
}span.range {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #700f0f, #d82e2e) border-box;
    border-radius: 40px;
    grid-column: 2/3;
}p#campoSenha {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 17px;
    align-items: center;
    margin: 0px;
    margin-left: 10px;
}.barra {
    width: 85%;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    grid-column: 1 / 2;
}.preenchimento {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #700f0f, #d82e2e);
    border-radius: 10px;
    transition: 0.6s ease-out;
    display: flex;
    justify-content: center;
}.lado_esquerdo {
    display: grid;
    grid-template-rows: 42px 80px;
}.sub_seg {
    font-family: system-ui;
    margin-bottom: 5px;
    font-weight: 800;
    grid-row: 3 / 3;
}.lado_direito {
    display: grid;
    grid-template-rows: 200px;
    row-gap: 10px;
}input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: black;
    border-radius: 5px;
    outline: none;
}input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: linear-gradient(to right, #700f0f, #d82e2e);;
    border-radius: 50%;
    cursor: pointer;
} #porcentagem {
    color: white;
    font-family: system-ui;
    font-size: small;
}


